{% extends 'base.html' %}
{% load static %}

{% block title %}
SALELARY
{% endblock %}

{% block content %}
<div class="text-center">
    <div>
        <img class="w-100" src="{% static 'salelary/images/orthomol_cover.png' %}" alt="CoverImg" width="">
    </div>
    <div class="py-5">
        <h3 class="pb-5">전체 카테고리</h3>
        <div class="d-flex flex-row justify-content-center w-100">
            <ul class="d-flex flex-row justify-content-around list-unstyled w-50">
                <li><a href="/mysite">패션 | 뷰티</a></li>
                <li><a href="/mysite">식품 | 생활</a></li>
                <li><a href="/mysite">가구 | 가전</a></li>
                <li><a href="/mysite">스포츠 | 자동차</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}