<!-- Responsive navbar-->
{% load static %}
<nav class="navbar navbar-expand-lg bg-white py-3" >
    <div class="container-fluid px-5">
        <a class="navbar-brand" href="/">
            <img src="{% static 'salelary/images/salelary_logo_v1.svg' %}" alt="Logo">
        </a>
        <div class="input-group border py-1 px-2 w-25 rounded-pill border-info">
            <img class="mx-3" src="{% static 'salelary/images/search.svg' %}" alt="SearchLogo" width="26">
            <input type="text" class="form-control border-0" placeholder="어떤 상품을 찾고 계신가요?">
        </div>
        <div class="" id="navbarSupportedContent">
            {% if user.is_authenticated %}
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
                <li class="nav-item mr-2">
                    <p class="m-0">
                        {{user.username}}님
                    </p>
                    <p class="m-0">
                        코멘토 주식회사
                    </p>
                </li>
                <li class="nav-item mr-2">
                    <img class="mx-3" src="{% static 'salelary/images/user_profile.svg' %}" alt="userProfile" width="36">
                </li>
                <li class="nav-item"><a href="{% url 'accounts:logout' %}" class="nav-link py-2 px-4" style="border: 1px solid #09185B; color: #09185B;">로그아웃</a></li>
            </ul>
            {% else %}
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item mr-3"><a href="{% url 'accounts:login' %}" class="nav-link py-2 px-4" style="border: 1px solid #09185B; background-color: #09185B; color:white;">로그인</a></li>
                <li class="nav-item"><a href="{% url 'accounts:signup' %}" class="nav-link py-2 px-4" style="border: 1px solid #09185B; color: #09185B;">회원가입</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>